* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
div,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
ul,
p,
label {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: none;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.no-border {
  border: none;
}
.no-focus-style:focus {
  outline: none;
}
.no-display {
  display: none;
}
.no-visible {
  visibility: hidden;
}
.mobile-contacts-h2 {
  color: rgba(0, 0, 0, 0.75);
  font-family: "Roboto", Sans-serif;
  font-size: 32px;
  font-weight: 900;
}
.mobile-contacts-h2 > a {
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
}
.mobile-contacts-h2:nth-child(2) {
  margin-top: 18px;
  margin-bottom: 18px;
}
.header-wrapper {
  margin-top: 12px;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.header-wrapper .header-wrapper__logo {
  width: 32%;
}
.header-wrapper .header-wrapper__logo img {
  width: 100%;
  height: auto;
}
.header-wrapper .header-wrapper__mobile-contacts {
  width: 32%;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
}
.header-wrapper .header-wrapper__mobile-contacts h2 {
  color: rgba(0, 0, 0, 0.75);
  font-family: "Roboto", Sans-serif;
  font-size: 32px;
  font-weight: 900;
}
.header-wrapper .header-wrapper__mobile-contacts h2 > a {
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
}
.header-wrapper .header-wrapper__mobile-contacts h2:nth-child(2) {
  margin-top: 18px;
  margin-bottom: 18px;
}
.header-wrapper .header-wrapper__social-contacts {
  width: 32%;
}
.header-wrapper .header-wrapper__social-contacts h5 {
  font-family: "Roboto", Sans-serif;
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 18px;
  word-wrap: break-word;
  text-align: center;
}
.header-wrapper .social-contacts__wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}
.header-wrapper .social-contacts__wrapper p {
  border-radius: 10%;
  border: 1px solid grey;
  padding: 12px 12px;
}
.header-wrapper .social-contacts__wrapper p:nth-child(1) {
  padding: 12px 16px;
  background-color: #262626;
}
.header-wrapper .social-contacts__wrapper p:nth-child(1):hover {
  cursor: pointer;
  background-color: #3c3c3c;
}
.header-wrapper .social-contacts__wrapper p:nth-child(2) {
  margin-left: 12px;
  margin-right: 12px;
  background-color: #45668e;
}
.header-wrapper .social-contacts__wrapper p:nth-child(2):hover {
  cursor: pointer;
  background-color: #577599;
}
.header-wrapper .social-contacts__wrapper p:nth-child(3) {
  background-color: #665cac;
}
.header-wrapper .social-contacts__wrapper p:nth-child(3):hover {
  cursor: pointer;
  background-color: #756cb4;
}
.header-wrapper .social-contacts__wrapper p a {
  color: white;
}
.header-wrapper .social-contacts__wrapper p a i {
  font-size: 32px;
}
.header-wrapper .height-support {
  height: 68px;
}
.header-wrapper__for-mobile-contacts {
  display: none;
  text-align: center;
  color: rgba(0, 0, 0, 0.75);
}
.header-wrapper__for-mobile-contacts h2 {
  color: rgba(0, 0, 0, 0.75);
  font-family: "Roboto", Sans-serif;
  font-size: 32px;
  font-weight: 900;
}
.header-wrapper__for-mobile-contacts h2 > a {
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
}
.header-wrapper__for-mobile-contacts h2:nth-child(2) {
  margin-top: 18px;
  margin-bottom: 18px;
}
nav[role="navigation"] {
  margin-top: 36px;
  margin-bottom: 36px;
}
nav[role="navigation"] ul[role="menu"] {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}
nav[role="navigation"] ul[role="menu"] li {
  margin-right: 168px;
}
nav[role="navigation"] ul[role="menu"] li:last-child {
  margin-right: 0;
}
nav[role="navigation"] ul[role="menu"] li a {
  font-family: "Roboto", Sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  -webkit-transition: border-bottom 0.5s;
  transition: border-bottom 0.5s;
}
nav[role="navigation"] ul[role="menu"] li a:hover {
  border-bottom: 3px solid #000;
}
#mobile-menu {
  display: none;
  margin-top: 24px;
}
#mobile-menu p {
  text-align: center;
  margin-bottom: 12px;
}
#mobile-menu p:hover {
  cursor: pointer;
}
#mobile-menu ul[role="menu"] {
  display: none;
}
#mobile-menu ul[role="menu"] li {
  padding: 6px 6px;
  padding-left: 12px;
  background-color: #55595c;
  margin-right: 0!important;
  margin-bottom: 6px;
}
#mobile-menu ul[role="menu"] li a {
  color: white;
  border-bottom: none;
}
#mobile-menu ul[role="menu"] li a:hover {
  border-bottom: none;
}
.diagnostics h2 {
  font-family: "Roboto", Sans-serif;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 24px;
}
.diagnostics .vertical-margin {
  height: 20px;
}
.diagnostics .diagnostics-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1%;
  grid-template-rows: 1fr;
}
.diagnostics .diagnostics-content .card .diagnostics-content__item {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  width: 100%;
}
.diagnostics .diagnostics-content .card .diagnostics-content__item .blackout {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
.diagnostics .diagnostics-content .card .diagnostics-content__item .item__header {
  font-family: "Roboto", Sans-serif;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  color: white;
  /*border-bottom: 3px solid transparent;
          transition: border-bottom .5s;
          &:hover {
            cursor: pointer;
            border-bottom: 3px solid white;
          }*/
}
.diagnostics .diagnostics-content .card .diagnostics-content__item .item__header span:first-child::after {
  display: block;
  clear: both;
  content: "";
}
.diagnostics .diagnostics-content .card .diagnostics-content__item .item__header span:last-child {
  display: block;
  text-align: center;
}
.diagnostics .diagnostics-content .card .diagnostics-content__item p img {
  width: 100%;
  height: auto;
}
.diagnostics .diagnostics-content .card .card-content {
  font-family: "Roboto", Sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.65;
  padding: 6px 6px;
  text-align: center;
}
.diagnostics .diagnostics-content .card .card-content button {
  margin-top: 12px;
}
@media screen and (max-width: 516px) {
  .header-wrapper .header-wrapper__logo {
    width: 100% !important;
  }
  .header-wrapper .header-wrapper__social-contacts {
    width: 100% !important;
    margin-top: 36px;
    margin-bottom: 36px;
  }
  .header-wrapper .header-wrapper__social-contacts h5 {
    text-align: center !important;
  }
  .header-wrapper .header-wrapper__social-contacts h5 span:first-child {
    display: block!important;
  }
  .header-wrapper .header-wrapper__social-contacts .social-contacts__wrapper {
    -webkit-box-pack: center !important;
            justify-content: center !important;
  }
  .header-wrapper__for-mobile-contacts {
    margin-top: 0!important;
  }
  .header-wrapper__for-mobile-contacts h2:first-child {
    font-size: 24px;
  }
  .header-wrapper__for-mobile-contacts h2:first-child span:first-child::after {
    display: block;
    clear: both;
    content: "";
  }
}
@media screen and (max-width: 767px) {
  .header-wrapper .header-wrapper__mobile-contacts {
    display: none;
  }
  .header-wrapper .header-wrapper__logo {
    width: 55%;
  }
  .header-wrapper .header-wrapper__social-contacts h5 span:first-child {
    display: inline-block;
    text-align: center;
  }
  .header-wrapper .header-wrapper__social-contacts .social-contacts__wrapper p a i {
    font-size: 20.8px;
  }
  .header-wrapper__for-mobile-contacts {
    margin-top: 36px;
    display: block;
  }
}
@media screen and (max-width: 991px) {
  .header-wrapper .header-wrapper__mobile-contacts h2 {
    font-size: 24px;
  }
  .header-wrapper .header-wrapper__social-contacts h5 {
    text-align: right;
  }
  .header-wrapper .header-wrapper__social-contacts h5 span:first-child::after {
    display: block;
    clear: both;
    content: "";
  }
  .header-wrapper .header-wrapper__social-contacts .social-contacts__wrapper {
    -webkit-box-pack: end;
            justify-content: flex-end;
  }
  .header-wrapper .height-support {
    height: 14px;
  }
}
@media screen and (max-width: 579px) {
  nav[role="navigation"] {
    display: none;
  }
  #mobile-menu {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  nav[role="navigation"] ul[role="menu"] li {
    margin-right: 72px !important;
  }
  nav[role="navigation"] ul[role="menu"] li:last-child {
    margin-right: 0!important;
  }
}
@media screen and (max-width: 991px) {
  nav[role="navigation"] ul[role="menu"] li {
    margin-right: 132px;
  }
}
@media screen and (max-width: 1199px) {
  .diagnostics .diagnostics-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 1%;
  }
}
@media screen and (max-width: 767px) {
  .diagnostics .diagnostics-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 1%;
  }
  .diagnostics .vertical-margin {
    height: 70px;
  }
}
