* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
div,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
ul,
p,
label {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: none;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.no-border {
  border: none;
}
.no-focus-style:focus {
  outline: none;
}
.no-display {
  display: none;
}
.no-visible {
  visibility: hidden;
}
.mobile-contacts-h2 {
  color: rgba(0, 0, 0, 0.75);
  font-family: "Roboto", Sans-serif;
  font-size: 32px;
  font-weight: 900;
}
.mobile-contacts-h2 > a {
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
}
.mobile-contacts-h2:nth-child(2) {
  margin-top: 18px;
  margin-bottom: 18px;
}
.header-wrapper {
  margin-top: 12px;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.header-wrapper .header-wrapper__logo {
  width: 32%;
}
.header-wrapper .header-wrapper__logo img {
  width: 100%;
  height: auto;
}
.header-wrapper .header-wrapper__mobile-contacts {
  width: 32%;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
}
.header-wrapper .header-wrapper__mobile-contacts h2 {
  color: rgba(0, 0, 0, 0.75);
  font-family: "Roboto", Sans-serif;
  font-size: 32px;
  font-weight: 900;
}
.header-wrapper .header-wrapper__mobile-contacts h2 > a {
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
}
.header-wrapper .header-wrapper__mobile-contacts h2:nth-child(2) {
  margin-top: 18px;
  margin-bottom: 18px;
}
.header-wrapper .header-wrapper__social-contacts {
  width: 32%;
}
.header-wrapper .header-wrapper__social-contacts h5 {
  font-family: "Roboto", Sans-serif;
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 18px;
  word-wrap: break-word;
  text-align: center;
}
.header-wrapper .social-contacts__wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}
.header-wrapper .social-contacts__wrapper p {
  border-radius: 10%;
  border: 1px solid grey;
  padding: 12px 12px;
}
.header-wrapper .social-contacts__wrapper p:nth-child(1) {
  padding: 12px 16px;
  background-color: #262626;
}
.header-wrapper .social-contacts__wrapper p:nth-child(1):hover {
  cursor: pointer;
  background-color: #3c3c3c;
}
.header-wrapper .social-contacts__wrapper p:nth-child(2) {
  margin-left: 12px;
  margin-right: 12px;
  background-color: #45668e;
}
.header-wrapper .social-contacts__wrapper p:nth-child(2):hover {
  cursor: pointer;
  background-color: #577599;
}
.header-wrapper .social-contacts__wrapper p:nth-child(3) {
  background-color: #665cac;
}
.header-wrapper .social-contacts__wrapper p:nth-child(3):hover {
  cursor: pointer;
  background-color: #756cb4;
}
.header-wrapper .social-contacts__wrapper p a {
  color: white;
}
.header-wrapper .social-contacts__wrapper p a i {
  font-size: 32px;
}
.header-wrapper .height-support {
  height: 68px;
}
.header-wrapper__for-mobile-contacts {
  display: none;
  text-align: center;
  color: rgba(0, 0, 0, 0.75);
}
.header-wrapper__for-mobile-contacts h2 {
  color: rgba(0, 0, 0, 0.75);
  font-family: "Roboto", Sans-serif;
  font-size: 32px;
  font-weight: 900;
}
.header-wrapper__for-mobile-contacts h2 > a {
  color: rgba(0, 0, 0, 0.75);
  text-decoration: none;
}
.header-wrapper__for-mobile-contacts h2:nth-child(2) {
  margin-top: 18px;
  margin-bottom: 18px;
}
nav[role="navigation"] {
  margin-top: 36px;
}
nav[role="navigation"] ul[role="menu"] {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}
nav[role="navigation"] ul[role="menu"] li {
  margin-right: 168px;
}
nav[role="navigation"] ul[role="menu"] li:last-child {
  margin-right: 0;
}
nav[role="navigation"] ul[role="menu"] li a {
  font-family: "Roboto", Sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  -webkit-transition: border-bottom 0.5s;
  transition: border-bottom 0.5s;
}
nav[role="navigation"] ul[role="menu"] li a:hover {
  border-bottom: 3px solid #000;
}
#mobile-menu {
  display: none;
  margin-top: 24px;
}
#mobile-menu p {
  text-align: center;
  margin-bottom: 12px;
}
#mobile-menu p:hover {
  cursor: pointer;
}
#mobile-menu ul[role="menu"] {
  display: none;
}
#mobile-menu ul[role="menu"] li {
  padding: 6px 6px;
  padding-left: 12px;
  background-color: #55595c;
  margin-right: 0!important;
  margin-bottom: 6px;
}
#mobile-menu ul[role="menu"] li a {
  color: white;
  border-bottom: none;
}
#mobile-menu ul[role="menu"] li a:hover {
  border-bottom: none;
}
/*@import "pages partials/main_content/content";*/
main[role="main"] .container h2 {
  font-family: "Roboto", Sans-serif;
  font-size: 32px;
  font-weight: bold;
  margin-top: 36px;
  margin-bottom: 24px;
}
main[role="main"] .container .box {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: flex-end;
}
main[role="main"] .container .box #card-container {
  width: 23.5%;
  height: 180px;
  z-index: 1;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
main[role="main"] .container .box #card-container:nth-child(4n+2) {
  margin-left: 2%;
  margin-right: 2%;
}
main[role="main"] .container .box #card-container:nth-child(4n+3) {
  margin-right: 2%;
}
main[role="main"] .container .box #card-container:nth-child(1),
main[role="main"] .container .box #card-container:nth-child(2),
main[role="main"] .container .box #card-container:nth-child(3),
main[role="main"] .container .box #card-container:nth-child(4) {
  margin-bottom: 2%;
}
main[role="main"] .container .box #card-container:hover {
  cursor: pointer;
}
main[role="main"] .container .box #card-container #card {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.8s linear;
  transition: all 0.8s linear;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
main[role="main"] .container .box #card-container #card .blackout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
main[role="main"] .container .box #card-container #card:hover {
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.3);
  /*.blackout, .service-header{
                            visibility: hidden;
                        }*/
}
main[role="main"] .container .box #card-container #card .face {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
main[role="main"] .container .box #card-container #card .face .service-header {
  top: 64.8px;
  position: absolute;
  z-index: 1000;
  font-family: "Roboto", Sans-serif;
  font-weight: bold;
  font-size: 20.8px;
  color: white;
}
main[role="main"] .container .box #card-container #card .face .service-header span {
  display: block;
  text-transform: initial;
}
main[role="main"] .container .box #card-container #card .face .service-header span:first-child {
  text-transform: capitalize;
}
main[role="main"] .container .box #card-container #card .face .service-header span:first-child::after {
  display: block;
  clear: both;
  content: "";
}
main[role="main"] .container .box #card-container #card .face .service-header span:last-child {
  display: block;
  text-align: center;
}
main[role="main"] .container .box #card-container #card .face img {
  width: 100%;
  height: 100%;
}
main[role="main"] .container .box #card-container #card .back {
  display: block;
  position: relative;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  box-sizing: border-box;
  text-align: center;
  background: #F9F3E4;
  z-index: 1000;
}
main[role="main"] .container .box #card-container #card .back .back-short-content p,
main[role="main"] .container .box #card-container #card .back .full-description p {
  text-align: center;
  padding: 4.8px 4.8px;
  font-family: "Roboto", Sans-serif;
  font-size: 16px;
  font-weight: bold;
}
main[role="main"] .container .box #card-container #card .back .full-description {
  padding-top: 12px;
}
main[role="main"] .container .box #card-container #card .back .full-description p {
  font-size: 14.4px;
}
main[role="main"] .container .box #card-container #card .back .full-description .back-collapse-text {
  margin-top: 12px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
  padding-right: 12px;
}
main[role="main"] .container .box #card-container #card .back .full-description .back-collapse-text p {
  background-color: #262626;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
main[role="main"] .container .box #card-container #card .back .full-description .back-collapse-text p span {
  color: white;
  font-size: 12.8px;
}
main[role="main"] .container .box #card-container #card .back .full-description .back-collapse-text p span:first-child {
  padding-right: 6px;
}
main[role="main"] .container .box #card-container:nth-child(6) .service-header span:first-child,
main[role="main"] .container .box #card-container:nth-child(7) .service-header span:first-child,
main[role="main"] .container .box #card-container:nth-child(8) .service-header span:first-child {
  text-align: center;
}
main[role="main"] .container:last-child #card-container .service-header span:first-child {
  text-align: center;
}
section[role='application'] .contacts {
  position: relative;
}
section[role='application'] .contacts button.gm-fullscreen-control,
section[role='application'] .contacts div.gm-svpc {
  display: none !important;
}
section[role='application'] .contacts h2 {
  font-family: "Roboto", Sans-serif;
  font-size: 32px;
  font-weight: bold;
  margin-top: 36px;
  margin-bottom: 24px;
}
section[role='application'] .contacts .contacts-map-wrapper {
  position: relative;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
section[role='application'] .contacts .contacts-map-wrapper .map-information {
  border: 1px solid transparent;
  border-radius: 0.5em;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 10;
  position: absolute;
  top: 2%;
  left: 0.5%;
}
section[role='application'] .contacts .contacts-map-wrapper .map-information p {
  text-align: center;
  line-height: 1.65;
  font-family: "Roboto", Sans-serif;
  font-size: 17.6px;
  font-weight: bold;
  color: white;
}
section[role='application'] .contacts .contacts-map-wrapper .map-information p:first-child {
  margin-bottom: 6px;
}
@media screen and (max-width: 516px) {
  .header-wrapper .header-wrapper__logo {
    width: 100% !important;
  }
  .header-wrapper .header-wrapper__social-contacts {
    width: 100% !important;
    margin-top: 36px;
    margin-bottom: 36px;
  }
  .header-wrapper .header-wrapper__social-contacts h5 {
    text-align: center !important;
  }
  .header-wrapper .header-wrapper__social-contacts h5 span:first-child {
    display: block!important;
  }
  .header-wrapper .header-wrapper__social-contacts .social-contacts__wrapper {
    -webkit-box-pack: center !important;
            justify-content: center !important;
  }
  .header-wrapper__for-mobile-contacts {
    margin-top: 0!important;
  }
  .header-wrapper__for-mobile-contacts h2:first-child {
    font-size: 24px;
  }
  .header-wrapper__for-mobile-contacts h2:first-child span:first-child::after {
    display: block;
    clear: both;
    content: "";
  }
}
@media screen and (max-width: 767px) {
  .header-wrapper .header-wrapper__mobile-contacts {
    display: none;
  }
  .header-wrapper .header-wrapper__logo {
    width: 55%;
  }
  .header-wrapper .header-wrapper__social-contacts h5 span:first-child {
    display: inline-block;
    text-align: center;
  }
  .header-wrapper .header-wrapper__social-contacts .social-contacts__wrapper p a i {
    font-size: 20.8px;
  }
  .header-wrapper__for-mobile-contacts {
    margin-top: 36px;
    display: block;
  }
}
@media screen and (max-width: 991px) {
  .header-wrapper .header-wrapper__mobile-contacts h2 {
    font-size: 24px;
  }
  .header-wrapper .header-wrapper__social-contacts h5 {
    text-align: right;
  }
  .header-wrapper .header-wrapper__social-contacts h5 span:first-child::after {
    display: block;
    clear: both;
    content: "";
  }
  .header-wrapper .header-wrapper__social-contacts .social-contacts__wrapper {
    -webkit-box-pack: end;
            justify-content: flex-end;
  }
  .header-wrapper .height-support {
    height: 14px;
  }
}
@media screen and (max-width: 579px) {
  nav[role="navigation"] {
    display: none;
  }
  #mobile-menu {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  nav[role="navigation"] ul[role="menu"] li {
    margin-right: 72px !important;
  }
  nav[role="navigation"] ul[role="menu"] li:last-child {
    margin-right: 0!important;
  }
}
@media screen and (max-width: 991px) {
  nav[role="navigation"] ul[role="menu"] li {
    margin-right: 132px;
  }
}
/*@import "../pages partials/main_content/media_content";*/
@media screen and (min-width: 319px) and (max-width: 370px) {
  main[role="main"] .container .box #card .face .service-header {
    top: 67.2px !important;
    font-size: 16px !important;
  }
  main[role="main"] .container .box #card .back .back-short-content p {
    font-size: 12.8px !important;
  }
}
@media screen and (max-width: 767px) {
  body .container main[role="main"] .container {
    text-align: center;
  }
  body .container main[role="main"] .container .box {
    -webkit-box-pack: center;
            justify-content: center;
  }
  body .container main[role="main"] .container .box #card-container {
    width: 70% !important;
    margin-bottom: 2% !important;
  }
  body .container main[role="main"] .container .box #card-container:nth-child(2n+1) {
    margin-right: 0% !important;
  }
}
@media screen and (max-width: 991px) {
  .container main[role="main"] .container .box #card-container {
    width: 48%;
    margin-bottom: 2% !important;
  }
  .container main[role="main"] .container .box #card-container:nth-child(3n+2) {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .container main[role="main"] .container .box #card-container:nth-child(1),
  .container main[role="main"] .container .box #card-container:nth-child(2),
  .container main[role="main"] .container .box #card-container:nth-child(3),
  .container main[role="main"] .container .box #card-container:nth-child(4),
  .container main[role="main"] .container .box #card-container:nth-child(5) {
    margin-bottom: 2% !important;
  }
  .container main[role="main"] .container .box #card-container:nth-child(2n+1) {
    margin-right: 2% !important;
  }
}
@media screen and (max-width: 1199px) {
  main[role="main"] .container .box #card-container {
    width: 31.3%;
    margin-right: 0 !important;
    margin-left: 0 !important;
    margin-bottom: 0 !important;
  }
  main[role="main"] .container .box #card-container:nth-child(3n+2) {
    margin-right: 2% !important;
    margin-left: 2% !important;
  }
  main[role="main"] .container .box #card-container:nth-child(1),
  main[role="main"] .container .box #card-container:nth-child(2),
  main[role="main"] .container .box #card-container:nth-child(3),
  main[role="main"] .container .box #card-container:nth-child(4),
  main[role="main"] .container .box #card-container:nth-child(5),
  main[role="main"] .container .box #card-container:nth-child(6) {
    margin-bottom: 2% !important;
  }
}
@media screen and (max-width: 767px) {
  section[role='application'] .contacts h2 {
    text-align: center;
  }
  section[role='application'] .contacts .contacts-map-wrapper .map-information {
    left: 2%;
    width: 40%;
  }
}
@media screen and (min-width: 300px) and (max-width: 420px) {
  section[role='application'] .contacts .contacts-map-wrapper .map-information {
    left: 2%;
    background-color: #1d2124;
    width: 60%;
  }
}
