@import "../../partials/variables";
@import "../../partials/functions";
@import "../../partials/mixins";
@media screen and (max-width: 767px) {
  section[role='application'] {
    .contacts {

      h2{
        .alignTo(center);
      }
      .contacts-map-wrapper{
        .map-information{
          left: 2%;
          width: 40%;
        }
      }
    }
  }
}
@media screen and (min-width: 300px) and (max-width: 420px) {
  section[role='application'] {
    .contacts {
      .contacts-map-wrapper{
        .map-information{
          left: 2%;
          background-color: #1d2124;
          width: 60%;
        }
      }
    }
  }
}